.category_chip{
    display: flex;
    background-color: #F6f6f6;
    border-radius: 8px;
    gap: 24px;
    padding: 8px 24px 8px 16px;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover{
        border: 1px solid #FF7D35;

        p{
            color: #FF7D35;
        }
    }

    img{
        width: 56px;
        height: 56px;
        object-fit: contain;
    }

    p{
        font-weight: 600;
        font-size: medium;
    }
}