.category_chip{
    display: flex;
    background-color: transparent;
    color: black;
    gap: 24px;
    padding: 8px 32px 8px 24px;
    align-items: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover{
        border-bottom: 2px solid #FF7D35;
        background-color:#F6f6f6;

        p{
            color: #FF7D35;
        }
    }

    img{
        width: 32px;
        height: 32px;
        object-fit: contain;
    }

    p{
        font-weight: 600;
        font-size: medium;
    }
}