.cart_icon{
    font-size: 32px;
    position: relative;

    .red_notice{
        font-size: 12px;
        font-weight: 800;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #FF7D35;
        color: white;
        position: absolute;
        left: -12px;
        bottom: 0;
    }
}