.nav_bar{
    width: 100%;

    .title_bar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f6f6f6;
        padding: 24px 48px;
        margin-bottom: 24px;
    }

    .categories_bar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
}